{% extends 'portfolio/base.html' %}
{% load static %}
{% block content %}

<main class="main">
    
    <section>
        <div class="blog_header">
            <h1>Blog</h1>
            <h3> Muthu has written {{blogs.count}} blog{{ blogs.count|pluralize}} </h2>
        </div>
        <div class="blog_content">
            {% for blog in blogs %}
            <a href="{% url 'blog:detail' blog.id %}" class="blog_content__title"><h2>{{blog.title}}</h2> </a> 
             <h5 id="blog_date">{{blog.date|date:'F dS Y'}}</h5>
             <p>{{blog.details|striptags|truncatechars:100}}</p>
            {% endfor %}
        </div>
      
    </section>
    
</main>   

{%endblock%}
